footer {
  background-color: #2f303a;
  color: $white-color;
}
// .page-footer {
//   display: flex;
//   align-items: baseline;
//   padding-top: 48px;
//   justify-content: space-between;
// }
.address-container {
  @include footer-font(14px, 1.7);
  font-style: normal;
}
// Лого футера
.logo {
  &-foot {
    color: $white-color;
  }
  &-footer {
    @extend %logo;
    display: block;
    margin-bottom: 10px;
    font-size: 22px;
    padding-top: 60px;
  }
}
// контакты футера
.add {
  @include margin(0, 9px);
  &-link {
    display: inline-block;
    @include tranzition(color);
    &:not(:last-child) {
      margin-bottom: 9px;
    }
    &:hover,
    &:focus {
      color: $accent-text-color;
    }
  }
}
.email-input {
  // margin: 0px 12px 0px;
  margin-bottom: 20px;
  color: $white-color;
  @include footer-font(16px, 1.87);
  display: inline-block;
  width: 100%;
  padding: 10px 58px 10px 12px;
  border-radius: 4px;
  border-style: solid;
  @include bordered(rgba(255, 255, 255, 0.3));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: $footer-color;
  border-image: initial;
  &::placeholder {
    color: $foot-color;
  }
  @media screen and (min-width: $tablet) {
    width: 450px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 12px;
    width: 350px;
    margin-bottom: 0;
  }
}
.copyringht {
  display: none;
  color: $copyring;
  @include margin(0, 0);
  padding-top: 18px;
  padding-bottom: 21px;
  @include footer-font(12px, 2);
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-address {
  text-align: center;
  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: $desktop) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
.footer-block {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: baseline;
  }

  @media screen and (min-width: $desktop) {
    width: calc(100% / 2);
  }
}
// соц. сети
.footer-slikns {
  // padding-bottom: 21px;
  // margin-right: 93px;
  @include slikns(700, 14px, 1.14);
  text-transform: uppercase;
  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: $desktop) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
.slikns-list {
  justify-content: center;
  display: flex;
  .icon-slinks {
    justify-content: center;
    @extend %flex;
    @include icon-size(44px, 44px);
    border-radius: 50%;
    background-color: $icon-color;
    @include tranzition(all);
    fill: $white-color;
    @include tranzition(all);
    &:hover,
    &:focus {
      background-color: $accent-text-color;
      transform: scale(1.3);
    }
  }
}
.slikns-links {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.icon-slink {
  @include icon-size(20px, 20px);
}
.slikns-text {
  margin-top: 60px;
  margin-bottom: 20px;
  @include fonts(700, 14px, 1, 0.03em);
  text-transform: uppercase;
  text-align: center;
}
// кнопка футера
.button-secondary {
  border: none;
  @include fonts(700, 16px, 1.87, 0.06em);
  color: $white-color;
  background-color: $accent-text-color;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 50px;
  padding: 10px 29px;
  @extend %inline-flex;
  min-width: 200px;
  @include tranzition(all);
  .icon-button {
    fill: $white-color;
    @include tranzition(fill);
  }
  &:hover,
  &:focus {
    background-color: $white-color;
    color: $accent-text-color;
    fill: $accent-text-color;
  }
}
.button-secondary:hover .icon-button {
  fill: $accent-text-color;
}
.icon-button {
  @include icon-size(20px, 20px);
  margin-left: 10px;
}
.footer-form {
  align-items: center;
  @media screen and (min-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.footer-subscription {
  text-align: center;
  @media screen and (min-width: $desktop) {
    text-align: start;
    width: calc((100% - 30px) / 2);
  }
}
