.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
  // height: 60px;
  // @media screen and (min-width: 767px) {
  //   height: 80px;
  // }
  @media screen and(min-width:767px) {
    display: flex;
  }
}
.main-nav {
  display: flex;
  @media screen and(max-width:767px) {
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @media screen and(min-width:768px) {
    margin: 0;
    padding: 0;
  }

  // align-items: center;
  // @media screen and (max-width: 1199px) {
  //   justify-content: space-between;
  // }
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  &:hover {
    fill: $accent-text-color;
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}
.menu-container {
  z-index: 1;
  @media screen and (max-width: 767px) {
    display: none;

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    background-color: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 4px 8px rgba(0, 0, 0, 0.04);
    padding: 60px 0;
    text-align: center;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    margin-left: 81px;
    align-items: center;
  }

  // @media screen and (min-width: $desktop) {
  //   margin-left: 85px;
  // }
}
.logo {
  @extend %logo;

  &-web {
    color: $accent-text-color;
  }
  &-studio {
    color: $black-color;
  }
  @media screen and(min-width:$tablet) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @media screen and(min-width:$desktop) {
    line-height: 1.19;
    font-size: 26px;
    letter-spacing: 0.03em;
  }
}
.site-nav {
  padding: 0;
  list-style: none;
  .link {
    display: inline-flex;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $title-text-color;
    @include fonts(500, 18px, 1, 0.02em);
    @include tranzition(color);
    &:hover,
    &:focus {
      color: $accent-text-color;
    }
    @media screen and(min-width:767px) {
      @include fonts(500, 14px, 1.14, 0.02em);
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 81px;
    margin-right: 84px;
    .item {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    .item:not(:last-child) {
      margin-bottom: 40px;
    }
    // display: flex;
    // margin-left: 86px;
  }
  .current {
    color: $accent-text-color;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      left: 0;
      bottom: 0;
      background-color: $accent-text-color;
      border-radius: 2px;
    }
  }

  .item {
    position: relative;
    // & + .item {
    //   margin-left: 50px;
    //}
  }
}
.cont-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  // @extend %inline-flex;
  margin-left: auto;
  font-size: 18px;
  letter-spacing: 0.02em;
  @media screen and (min-width: 767px) {
    font-size: 12px;
    letter-spacing: 1.16px;
  }
  .link {
    display: inline-flex;
    align-items: center;
    @include tranzition(color);
    &:hover,
    &:focus {
      color: $accent-text-color;
    }
  }
  // .item {
  //   & + .item {
  //     margin-left: 50px;
  //   }
  // }
  @media screen and (min-width: 767px) {
    .item:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  @media screen and (max-width: 768px) {
    .item {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1199px) {
    font-size: 14px;
    display: flex;
    text-align: center;
    .item:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.icon-mail {
  fill: $primary-text-color;
  margin-right: 10px;
  @include tranzition(fill);
  .mail:hover &,
  .mail:focus & {
    fill: $accent-text-color;
  }
}
.icon-phone {
  fill: $primary-text-color;
  margin-right: 10px;
  @include tranzition(fill);
  .phone:hover &,
  .phone:focus & {
    fill: $accent-text-color;
  }
}
