.project {
  text-align: center;
  margin-bottom: 40px;
  &-item:not(:last-child) {
    margin-right: 8px;
  }
  &-item {
    margin-bottom: 15px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    justify-content: center;
  }
  // & img {
  //   display: block;
  // }
  &-title {
    text-align: left;
    padding: 20px 24px;
  }
  .button {
    padding: 6px 22px 6px 22px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  &-name {
    margin-bottom: 0px;
    @include fonts(700, 18px, 2, 0.06em);
    color: $title-text-color;
  }
}
.button {
  @include fonts(500, 16px, 1.6, 0.03em);
  text-align: center;
  color: $title-text-color;
  background: $accent-section-color;
  border-radius: 4px;
  @include tranzition(all);
  &:hover,
  &:focus {
    color: $white-color;
    background-color: $accent-text-color;
    transform: scale(1.1);
  }
}
.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
