.advant {
  @extend %flex;
  border-bottom: 1px solid #ececec;
  &-element {
    // margin: 0px 0px 30px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &-item {
    @extend %flex;
    background-color: #f5f4fa;
    height: 120px;
    border-radius: 4px;
    justify-content: center;
  }
  &-text {
    @include margin(0, 0);
    @include fonts(400, 14px, 1.7, 0.03em);
  }
}
.icon-advant {
  @include icon-size(70px, 70px);
}
.advant-title {
  @include margin(30px, 10px);
  @include fonts(700, 14px, 1, 0.03em);
  text-transform: uppercase;
  color: $title-text-color;
  @media screen and(max-width:767px) {
    text-align: center;
  }
}
@media screen and(max-width:768px) {
  .list {
    // @extend %flex;
    flex-wrap: wrap;
    &.advant-list {
      display: flex;
    }
  }
}
