.hero {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  // для фиксации меню
  // @media screen and(max-width:767px) {
  //   margin-top: 60px;
  // }

  @media screen and (min-width: $tablet) {
    max-width: 1200px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  &-item {
    @extend %item-centr;
    // padding-top: 200px;
    text-align: center;
  }
  &-title {
    @extend %item-centr;
    @include margin(0, 46px);
    max-width: 360px;
    text-transform: uppercase;
    color: $white-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    @media screen and(min-width:$desktop) {
      max-width: 646px;
      @include fonts(900, 44px, 1.36, 0.06em);
    }
  }
}
//Фон с градиентом в секции герой
.overlay {
  max-width: 1600px;
  height: 400px;
  @extend %item-centr;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url('../img/studiya/header_mobil.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url('../img/studiya/header_mobil2x.jpg');
  }
  @media screen and(min-width:576px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url('../img/studiya/header_tabletka.jpg');
    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url('../img/studiya/header_tabletka2x.jpg');
    }
  }
  @media screen and(min-width:960px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url('../img/studiya/header_desktop.jpg');
    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url('../img/studiya/header_desktop2x.jpg');
    }
  }
  @media screen and(min-width:$desktop) {
    height: 600px;
  }
}
.button.primary {
  border: none;
  @extend %inline-flex;
  @include fonts(700, 16px, 1.87, 0.06em);
  color: $white-color;
  background-color: $accent-text-color;
  text-decoration: none;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  @include tranzition(all);
  &:hover {
    background-color: $white-color;
    color: $accent-text-color;
  }
}
